<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.volley_examples"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.INTERNET" /> 
    <application
        android:name="com.github.volley_examples.app.App_VolleyExamples"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.github.volley_examples.Act_Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.github.volley_examples.Act_SimpleRequest"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.github.volley_examples.Act_JsonRequest"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.github.volley_examples.Act_GsonRequest"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.github.volley_examples.Act_ImageLoading"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.github.volley_examples.Act_NewHttpClient"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.github.volley_examples.Act_SsSslHttpClient"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.github.volley_examples.Act_Cookies"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.github.volley_examples.Act_Params"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.github.volley_examples.Act_NetworkListView"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>